<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Groceasy Comparing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css-selectors-com.css') }}" />
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/css-selectors-com.css" /> -->
</head>

<body>
    <div class="title-bar">
        <button class="go-back" onclick="goBack();" onmouseover="over(this);" onmouseout="out(this);">GO BACK</button>
        <div class="title">
            <span class="title-text">Groceasy</span>
            <span class="subtitle-text">makes your grocery easy</span>
        </div>
    </div>
    <div class="contents">
        <div class="list">
            <div class="business-title">ASDA</div>
            <div class="item-list" id="asda-list"></div>
        </div>
        <div class="list">
            <div class="business-title">SAINSBURYS</div>
            <div class="item-list" id="sainsburys-list"></div>
        </div>
        <div class="list">
            <div class="business-title">TESCO</div>
            <div class="item-list" id="tesco-list"></div>
        </div>
    </div>

    <script src="{{ url_for('static',filename='functions.js') }}"></script>
    <script>
        let queryString = window.location.search;
        let urlParams = new URLSearchParams(queryString);
        let data = urlParams.get('data');

        let { "ASDA": asda, "Sainsbury's": sainsburys, "Tesco": tesco } = JSON.parse(data);  // string to objects

        function displayData(business, data) {
            let elemID = '#' + business + '-list';
            for (let i = 0; i < data.length; i++) {
                let elem = document.querySelector(elemID);
                elem.innerHTML +=
                    '<div class="item" onmouseover="over(this);" onmouseout="out(this);">' +
                    '<div class="image-div">' +
                    '<img width="100px" height="100px" src="' + data[i].img + '">' +
                    '</div><div class="info">' +
                    '<div style="font-weight:bold;">' + data[i].name + '</div>' +
                    '<div>' + data[i].volume + '</div>' +
                    '<div>' + data[i].price + '</div>' +
                    '<div>' + data[i].unit_price + '</div>' +
                    '</div></div>'
            }
        }

        displayData('asda', asda);
        displayData('sainsburys', sainsburys);
        displayData('tesco', tesco);
    </script>
</body>

</html>