<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Groceasy</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css-selectors.css" /> -->
</head>

<body>
    <div>
        <!-- Comparing {{item}} -->
    </div>
    <script>
        let queryString = window.location.search;
        let urlParams = new URLSearchParams(queryString);
        let data = urlParams.get('data');

        // console.log(data);
        let { "ASDA": asda, "Sainsbury's": sainsburys, "Tesco": tesco } = JSON.parse(data);  // string to objects
        console.log(asda);
        console.log(sainsburys);
        console.log(tesco);
    </script>
</body>

</html>