<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Groceasy</title>
    <link rel="stylesheet" type="text/css" href="../static/css-selectors.css" />
</head>

<body>
    <div class="title-bar">
        <div class="title-left">Welcome to Groceasy!</div>
        <div class="title-right">
            <img class="icon" id="download-icon" alt="Download" title="Download all data"
                src="../static/img/icons8-download-48.png" width="30px" height="30px" />
            <img onclick="clearAll();" id="clear-icon" alt="Clear and restart" title="Clear all entered values"
                src="../static/img/icons8-restart-50.png" width="30px" height="30px" />
        </div>
    </div>
    <div>
        <div class="form">
            <div class="form-inner">
                <label for="business">Choose a business:</label>
                <select required id="business">
                    <option value="" disabled selected hidden>...</option>
                    <option value="ASDA">ASDA</option>
                    <option value="Sainsbury's">Sainsbury's</option>
                    <option value="Tesco">Tesco</option>
                </select>
            </div>
            <div class="form-inner">
                <input type="text" id="item-name" name="item-name" placeholder="Enter an item">
            </div>
            <button onclick="submit(this);">Submit</button>
        </div>
        <div class="warnings" id="warn"></div>
        <hr />
    </div>
    <div id="loader" class="loader"></div>
    <div style="text-align: center; margin-right: 90px;" id="item-num"></div>
    <div class="item-list" id="item-fetched"></div>

    <script src="../static/functions.js"></script>
</body>

</html>